@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;

@layer base {
  h1 {
    @apply text-3xl leading-normal;
  }

  h2 {
    @apply text-xl leading-normal;
  }

  h3 {
    @apply text-lg leading-normal;
  }

  img {
    @apply rounded-md;
  }

  ol {
    @apply list-decimal;
  }

  #textEditorContainer img{
    @apply pt-5 pb-2 w-full;
  }
  #textEditorContainer p{
    @apply cursor-text
  }

  #textEditorContainer ul {
    @apply list-disc;
  }

  li {
    @apply ml-8;
  }

  blockquote {
    @apply text-sm text-gray-500 text-center my-2;
  }

  p{
    @apply leading-snug;
  }

  iframe{
    @apply aspect-video w-full h-auto mx-auto my-5
  }
}

@tailwind components;
@tailwind utilities;

h1 a,
h2 a,
h3 a,
p a {
  cursor: pointer;
  text-decoration: underline;
}

* {
  line-height: normal;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: auto;
}
